.property-card {
  max-width: 360px;
  min-width: 350px;
  background-color: #f9f9f9df;
  /* background-color: #f9f9f9b2; */
  width: 28%;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  position: relative;
}

.property-card img {
  background-size: cover;
}

.property-title {
  width: 100%;
  text-align: center;
}

.flex-items {
  display: flex;
  height: 100%;
  align-items: center;
}

.property-details {
  padding-left: 1rem;
  /* width: 80%; */
  font-size: 1.2rem;
}

.property-favorite {
  display: flex;
  width: 30%;
  height: 100%;
  padding: 0 1rem 1rem 0;
}

.property-favorite button {
  font-size: 18px;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.property-favorite button:hover {
  background-color: #0056b3;
}
