#root {
  height: 100vh;
  margin: 0 auto;
}

.App {
  height: 100vh;
  margin: 0 100px;
}

.center-searchPage {
  /*-60px because it's the height of the navbar;*/
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
}