#root {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.App {
  height: 100vh;
}

.center-searchPage {
  /*-60px because it's the height of the navbar;*/
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
}
