/* CSS Custom Properties */
:root {
  --white: #ffffff;
  --tan-1: #fbf9f6;
  --tan-2: #e7e2dd;
  --tan-3: #e2d9d1;
  --tan-4: #d3c1ae;
  --orange: #f67f00;
  --text-light: #968c84;
  --text-dark: #615954;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('../../../assets/background2.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
